OPENAI_API_KEY=Your_OpenAI_API_Key
OPENAI_MODEL=gpt-model
MAX_FILE_SIZE_MB=20
MIN_EXTRACTED_TEXT_CHARS=100
LANGSMITH_TRACING_V2=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=Your_Langsmith_API_Key
LANGSMITH_PROJECT=Your_Project_Name